//Colors of project

//Brand Colors
$primary-normal: #e51d37;
$primary-dark: #cb162e;
$primary-light: #eb3850;

$gradient-default: linear-gradient(220.94deg, #eb3850 14.43%, #cb162e 85.28%);

// Neutral
$black-normal: #333333;
$black-dark: #353436;
$black-light: #5F5F5F;

$white-normal: #f2f4fd;
$white-dark: #edeaef;
$white-light: #F8F9FF;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;
