.s-download-app {
  background-color: $white-normal;

  .container {
    max-width: $container-xl;
    margin: 0 auto;
    padding: $gap-10 $gap-4;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive(l) {
      padding: $gap-7 $gap-4;
    }

    > div {
      h3 {
        color: $black-normal;
        line-height: 140%;
        span {
          color: $primary-normal;
        }
      }
      > p {
        color: $black-light;

        margin: $gap-5 $gap-0;
      }
      div {
        display: flex;
        align-items: center;
        gap: $gap-4;
        @include responsive(l) {
          flex-wrap: wrap;
        }
        a {
          background-color: $black-dark;

          padding: $gap-1 $gap-4;
          border-radius: 4px;

          display: flex;
          align-items: center;

          div {
            width: 48px;

            img {
              width: 32px;
              transition: width 0.4s;
            }
          }

          &:hover {
            background-color: #252525;

            img {
              width: 38px;
            }
          }

          @include responsive(xs) {
            width: 100%;
            justify-content: center;
          }

          p {
            color: $white-dark;
            font-weight: 300;
            line-height: 160%;

            margin-left: $gap-2;

            span {
              font-weight: 600;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
    .app-teslabank {
      #canvas-basic {
        width: 380px;
        height: 380px;
        border-radius: 56px;
        background: $gradient-default;
        animation: gradient 8s ease infinite;
        background-size: 400% 400%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          animation: imgHeart 4s ease infinite;
          width: 180px;
        }
      }

      @keyframes imgHeart {
        0% {
          width: 180px;
        }
        50% {
          width: 200px;
        }
        100% {
          width: 180px;
        }
      }

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

      @include responsive(l) {
        display: none;
      }
    }
  }
}
