footer {
  background-color: $white-light;

  .container {
    max-width: $container-xl;
    margin: 0 auto;
    padding: $gap-32 $gap-24;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive(l) {
      flex-wrap: wrap;
      gap: $gap-24;
      text-align: center;
      justify-content: center;
    }

    > p {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 160%;

      span {
        font-weight: 600;
      }
    }

    > span {
      display: flex;
      align-items: center;

      @include responsive(s) {
        display: none;
      }

      p {
        font-size: 1.8rem;
        font-weight: 600;
        color: $primary-normal;
      }

      img {
        margin-left: $gap-16;
      }
    }
  }
}
