header {
  width: 100%;
  transition: 0.8s ease;
  position: absolute;
  z-index: 999;
}

// Desktop
.navbar {
  max-width: $container-xl;
  margin: 0 auto;
  padding: $gap-32;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(m) {
    display: none;
  }
}

.overflow-body {
  overflow-y: hidden;
}

.navbar-item-1 {
  display: flex;
  align-items: center;

  h1 {
    font-size: 3.2rem;
    color: $primary-normal;
  }
}

nav {
  > ul {
    display: flex;
    align-items: center;

    > li {
      position: relative;
      margin-left: $gap-16;
      padding: $gap-8 $gap-0;
      width: auto;

      &:hover {
        ul {
          display: inline-block;
        }
      }

      a {
        display: inline-block;
        padding: $gap-8 12px;
        position: relative;
        color: $black-normal;
        font-weight: 600;
        font-size: 1.8rem;

        &:hover {
          color: $primary-normal;
        }
      }
    }
  }
}

.navbar-item-2 {
  padding: 12px 32px;
  font-size: 1.8rem;
  font-weight: 600;
  color: $primary-normal;
}

.open-count {
  background-color: $primary-normal;
  color: $white-normal;
  border-radius: 4px;

  &:hover {
    background-color: $primary-hover;
  }
}

// Mobile
.mobile-navbar {
  display: none;

  h1 {
    font-size: 3.2rem;
    color: $primary-normal;
  }

  .animationTransform {
    div:nth-child(1) {
      transform: rotate(45deg) translate(3px, 7px);
    }

    div:nth-child(2) {
      transform: rotate(-45deg) translate(-1px, -5px);
    }
  }

  #menu-mobile-options.active-menu {
    display: block;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  #menu-mobile-options {
    animation: fadeIn 0.5s;
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: $white-normal;
    height: 100vh;
    z-index: 999;
    transition-duration: 5s;

    li {
      text-align: center;
      margin: $gap-40 $gap-0;

      a {
        color: $black-normal;
        font-weight: 600;
        font-size: 2.4rem;
        padding: $gap-8 $gap-24;

        &:hover {
          color: $primary-normal;
        }
      }
    }
  }

  #menu-mobile {
    cursor: pointer;
    padding: $gap-16;

    div {
      transition-duration: 0.5s;
      margin: $gap-8 $gap-0;
      width: 32px;
      height: 2px;
      background-color: $black-normal;
    }
  }

  @include responsive(m) {
    display: inline-block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $gap-16 $gap-32;
  }
}
