*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black-normal;
  font-family: "DM Sans", sans-serif;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  margin: 0;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

h6 {
  font-size: 2rem;
  text-transform: uppercase;
  color: $primary-dark;
  margin-bottom: $gap-8;
}

button,
input {
  border: 0;

  &:focus {
    border: 0;
  }
}

body {
  background-color: $white-normal;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
