// Typography of project

@mixin typeface-body($size: p, $device: desktop) {
  font-family: "Inter", sans-serif;
  // P
  @if $size == p and $device == desktop {
    font-size: 1.8rem;
    line-height: 160%;
  } @else if $size == p and $device == mobile {
    font-size: 1.6rem;
  }
}

@mixin typeface-highlight($size, $device: desktop) {
  font-family: "Sora", sans-serif;
  // H1
  @if $size == h1 and $device == desktop {
    font-size: 4.8rem;
    line-height: 120%;
  } @else if $size == h1 and $device == mobile {
    font-size: 4rem;
  }
  // H2
  @if $size == h2 and $device == desktop {
    font-size: 4rem;
    line-height: 120%;
  } @else if $size == h2 and $device == mobile {
    font-size: 3.2rem;
    line-height: 120%;
  }
  // H3
  @if $size == h3 and $device == desktop {
    font-size: 3.2rem;
    line-height: 120%;
  } @else if $size == h3 and $device == mobile {
    font-size: 2.4rem;
  }
  // H4
  @if $size == h4 and $device == desktop {
    font-size: 2.4rem;
    line-height: 130%;
  } @else if $size == h4 and $device == mobile {
    font-size: 1.8rem;
  }
  // H5
  @if $size == h5 and $device == desktop {
    font-size: 2rem;
    line-height: 130%;
  } @else if $size == h5 and $device == mobile {
    font-size: 1.8rem;
  }
  // H6
  @if $size == h6 and $device == desktop {
    font-size: 1.8rem;
    line-height: 130%;
  } @else if $size == h6 and $device == mobile {
    font-size: 1.6rem;
  }
}

// Typography responsive
p {
  color: $gray-1;

  @include typeface-body(p, desktop);

  @include responsive(s) {
    @include typeface-body(p, mobile);
  }
}

h1 {
  color: $black-dark;
  @include typeface-highlight(h1, desktop);

  @include responsive(s) {
    @include typeface-highlight(h1, mobile);
  }
}

h2 {
  color: $black-dark;
  @include typeface-highlight(h2, desktop);

  @include responsive(s) {
    @include typeface-highlight(h2, mobile);
  }
}

h3 {
  color: $black-dark;
  @include typeface-highlight(h3, desktop);

  @include responsive(s) {
    @include typeface-highlight(h3, mobile);
  }
}

h4 {
  color: $black-dark;
  @include typeface-highlight(h4, desktop);

  @include responsive(s) {
    @include typeface-highlight(h4, mobile);
  }
}

h5 {
  color: $black-dark;
  @include typeface-highlight(h5, desktop);

  @include responsive(s) {
    @include typeface-highlight(h5, mobile);
  }
}

h6 {
  text-transform: uppercase;
  background: $gradient-default;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include typeface-highlight(h6, desktop);

  @include responsive(s) {
    @include typeface-highlight(h6, mobile);
  }
}
